html,body,.content, .content > .wrapper {
  height: 100%;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

html,body {
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.content {
}

.content > .wrapper {
  text-align: center;
  background: #A2BEEE;
  overflow: hidden;
  position: relative;
}

.info-box {
  display: inline-block;
  position: absolute;
  z-index: 10;
  left: 2px;
  top: 10px;
  background: #fff;
  padding: 10px 15px;
  border-radius: 5px;
  box-shadow: 0px 0px 2px #444;
}

.info-box .title {
  display: block;
  font-weight: bold;
  font-size: 18px;
  text-transform: uppercase;
}

.wheel-1, .wheel-2, .smog, .pig, .house, .tree, .cloud {
  display: block;
  background-image : url(../img/petr.png);
  background-repeat: no-repeat;
}

.petr {
  display: block;
  position: relative;
  top: -100px;
  width: 193px;
  height: 184px;
  margin: 0px auto;
  z-index: 10;
}

.pig {
  position: absolute;
  background-position: -14px 0px;
  width: 193px;
  height: 184px;
  left: 0px;
  top: 0px;
  animation: bounce 0.8s ease-in infinite;
}

.wheel-1 {
  position: absolute;
  width: 128px;
  height: 125px;
  background-position: -103px -201px;
  left: -20px;
  bottom: -40px;
  animation: wheel 2s linear infinite;
}

.wheel-2 {
  position: absolute;
  right: -5px;
  bottom: -40px;
  background-position: 0px -193px;
  width: 70px;
  height: 65px;
  animation: wheel 1s linear infinite;
}

.smog {
  position: absolute;
  top: -35px;
  right: 26px;
  width: 83px;
  height: 87px;
  background-position: 0px -274px;
  opacity: 0.8;
  animation: smoge 0.8s ease-in infinite;
}

@keyframes smoge {
  from { top : -35px;}
  to { top: -50px; }
}

@keyframes bounce {
  from { top : 0px;}
  to { top: -10px; }
}

@keyframes wheel {
  from { transform: rotate(0deg);  }
  to { transform: rotate(360deg); }
}

.under-wrapper {
  display: block;
  position: relative;
  top: 70%;
  width: 200%;
  left: -50%;
  border-top: 4px solid #000;
  background: #8D944F;
  border-radius: 50%;
  height: 50%;
  z-index: 5;
}

.house-1 {
  display: block;
  position: absolute;
  top: -37px;
  left: 500px;
  width: 74px;
  height: 62px;
  background-position: -272px -4px;
  z-index: 4;
  animation: house1 30s linear infinite;
}


@keyframes house1 {
  from { left: 80%; top: -20px;}
  to {left: 0%; top: 20px;}
}

.house-2, .house-3, .house-4 {
  display: block;
  position: absolute;
  top: -10px;
  left: 300px;
  width: 28px;
  height: 41px;
  background-position: -274px -90px;
  animation: house2 50s linear infinite;
}

.house-3 {
  animation: house3 60s linear infinite;
}

.house-4 {
  animation: house3 90s linear infinite;
}

@keyframes house2 {
  from { left: 48%; top: -20px;}
  to {left: 0%; top: 20px;}
}


@keyframes house3 {
  from { left: 80%; top: -10px;}
  to {left: 0%; top: 0px;}
}


.tree-1 {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  width: 20px;
  height: 28px;
  background-position: -319px -79px;
  z-index: 3;
  animation: tree1 25s linear infinite;
}

.tree-2, .tree-3 {
  display: block;
  position: absolute;
  top: 10px;
  left: 500px;
  width: 22px;
  height: 26px;
  background-position: -318px -116px;
  z-index: 3;
  animation: tree1 40s linear infinite;
}

.tree-3  {
  animation: tree1 38s linear infinite;
}

@keyframes tree1 {
  from { left: 80%;}
  to {left: 0%;}
}

.cloud-1 {
  display: block;
  position: absolute;
  top: 15px;
  left: 0px;
  width: 65px;
  height: 45px;
  background-position: -270px -155px;
  z-index: 3;
  animation: cloud1 100s linear infinite;
}

.cloud-2 {
  display: block;
  position: absolute;
  top: 20px;
  left: 0px;
  width: 81px;
  height: 58px;
  background-position: -262px -205px;
  z-index: 3;
  animation: cloud1 80s linear infinite;
  animation-delay: -40s;
}

.cloud-3 {
  display: block;
  position: absolute;
  top: 10px;
  left: 100px;
  width: 72px;
  height: 56px;
  background-position: -270px -271px;
  z-index: 3;

  animation: cloud1 90s linear infinite;
  animation-delay: -80s;
}

@keyframes cloud1 {
  from { left: 100%;}
  to {left: 0%;}
}
